:root {
    --primary-background-color: #4B97A3;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Cormorant Garamond', serif;
    line-height: 1.4;
    background-color: var(--primary-background-color);
}

.title_container .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.title_container .logo img {
    width: 60px;
    height: 50px;
}